

body {
margin: 30px;
}

.boxshadow {
  width: 400px;
  height: 200px;
  background-color: purple;
  box-shadow: 20px 20px 15px #888888;
  float: right;
}

.border {
height: 50px;
background-color: green;
width: 50px;
border-radius: 100%;
border-image
padding: 50px;
}

.doberman {
height: 100px;
width: 100px;
border-image: url(images/abstract.jpeg);
border-width: 20px;
border-length: 20px;
padding: 20px;
}

.word {
word-wrap: break-word;
width: 40px;
background-color: cyan;
}

.gradient {
width: 100px;
height: 100px;
background-color: red;
background: repeating-radial-gradient(rgba(244,244,244,0), red);
}
